body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
  
.cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/cursor-gr.png");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    mix-blend-mode: color-dodge;
    pointer-events: none;
}

/********* FONTS ********/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Neue Plak";
  src: url("../assets/fonts/NeuePlak-ExtendedBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "NB International Regular";
  src: url("../assets/fonts/NB-International-Pro-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "NB International Mono";
  src: url("../assets/fonts/NBInternationalMonoWebfont.woff") format("woff");
}

@font-face {
  font-family: "NB International Light";
  src: url("../assets/fonts/NBInternationalPro-Lig.woff") format("woff");
}

/********* Overview ********/
.overview {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #E0D9D5;
    color: #292929;
}

.overview-full {
    display: flex;
    flex-direction: column;
}

.overview-header-text {
    font-size: 4.5rem;
    margin-left: 8vw;
    margin-top: 0;
    margin-bottom: 2vw;
    padding-top: 6vw;
    font-family: "Neue Plak";
}

.overview-arrow {
    display: flex;
    background-image: url("../assets/images/arrow.svg");
    height: 69px;
    min-width: 69px;
    margin-left: 8vw;
    background-size: contain;
    z-index: 20;
    background-repeat: no-repeat;
}

.overview-text {
    font-size: 2rem;
    margin-left: 2rem;
    margin-right: 8vw;
    z-index: 10;
    font-family: "Inter";
}

.overview-container {
    display: flex;
    flex-direction: column;
}

.overview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0vw 0;
}

.overview-blob {
    display: flex;
    position: relative;
    height: 489px;
    width: 412px;
    background-image: url("../assets/images/blob_border.svg");
    align-self: center;
    margin-top: 15vw;
    margin-right: 8vw;
    background-size: contain;
    background-repeat: no-repeat;

}

.overview-cols {
    display: flex;
    flex-direction: row;
    padding-bottom: 8vw;
}

/********* Overview Media Query ********/
@media (max-width: 980px) {
    .overview-blob {
        display: none;
    }

    .overview-item {
        margin: 1vw 0;
    }
}

@media (max-width: 768px) {
    .overview-blob {
        display: none;
    }

    .overview-arrow {
        height: 50px;
        width: 50px;
    }

    .overview-text {
        font-size: 1.5rem;
    }

    .overview-header-text {
        font-size: 3rem;
        padding-top: 14vw;
        margin-bottom: 4vw;
    }
}

/********* Cards ********/
.cards {
    margin: 0;
    padding: 0;
    background-color: #2C2C2C;
    color: #E0D9D5;
}

.cards-item1 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-item2 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-item3 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-item4 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-item5 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-item6 {
    border: 3px solid #E0D9D5;
    border-radius: 10px;
}

.cards-head-text {
    font-size: 1.75rem;
    padding-top: 8vw;
    margin: 0vw 8vw 4vw;
    font-family: "Inter";
}

.cards-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.cards-title-text {
    font-size: 1.25rem;
    margin: 1rem 0rem 0rem 1rem;
    font-family: "Neue Plak";
    white-space: nowrap;
}

.cards-title-large-text {
    font-size: 1.25rem;
    margin: 1rem 0rem 0rem 1rem;
    font-family: "Neue Plak";
    white-space: nowrap;
}

.cards-line {
    height: 3px;
    width: 300px;
    background-image: url("../assets/images/line.svg");
    margin: 1.5rem 1.5rem 0rem
}

.cards-contact {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
}

.contact-first-text {
    font-size: .9rem;
    margin: 0.5rem 0.5rem 0.25rem 0;
    text-decoration: underline;
    font-family: "Inter";
}

.contact-text {
    font-size: .9rem;
    margin: .5rem .5rem .25rem;
    text-decoration: underline;
    font-family: "Inter";
}

.top-cards {
    padding: 0 8vw 8vw;
}

.cards-bullets {
    margin: 1rem 0rem 1rem;
}

.bullet-text {
    font-size: 0.8rem;
    margin: 0.5rem 0.75rem 0.5rem 0;
    transform: translateX(-.5rem);
    font-family: "Inter";
    
}

.cards-red {
    height: 8vw;
    width: 100%;
    background-image: url("../assets/images/red_rectangle.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

/********* Cards Cursors ********/
.item1-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/smoothie.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}

.item2-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/kini.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}


.item3-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/leash.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}

.item4-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/lipstick.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}

.item5-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/scissors.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}

.item6-cursor {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 999;
    width: 155px;
    height: 155px;
    opacity: 100%;
    background: url("../assets/images/cafex.svg");
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    display: flex;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: center;
}

/********* Cards Media Query ********/
@media (max-width: 768px) {
    .cards-title-large-text {
        white-space: normal;
    }

    .cards-head-text {
        padding-top: 12vw;
    }

    .top-cards {
        padding-bottom: 12vw;
    }
}

@media (max-width: 480px) {
    .cards-title-large-text {
        white-space: nowrap;
    }
    .cards-head-text {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}


