.App {
  text-align: center;
  font-family: "Neue Plak";
}

/********* FONTS ********/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Neue Plak";
  src: url("../src/assets/fonts/NeuePlak-ExtendedBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "NB International Regular";
  src: url("../src/assets/fonts/NB-International-Pro-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "NB International Mono";
  src: url("../src/assets/fonts/NBInternationalMonoWebfont.woff") format("woff");
}

@font-face {
  font-family: "NB International Light";
  src: url("../src/assets/fonts/NBInternationalPro-Lig.woff") format("woff");
}
