html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #e0d9d5;
}

* {
  margin: 0;
  padding: 0;
}

.cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1;
  background: url("./assets/images/cursor-gr.png");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  mix-blend-mode: color-dodge;
  pointer-events: none;
}

@media (max-width: 375px) {
  .cursor {
    display: none;
  }
}

/********* FONTS ********/

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@font-face {
  font-family: "Neue Plak";
  src: url("./assets/fonts/NeuePlak-ExtendedBold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "NB International Regular";
  src: url("./assets/fonts/NB-International-Pro-Regular.woff") format("woff");
}

@font-face {
  font-family: "NB International Mono";
  src: url("./assets/fonts/NBInternationalMonoWebfont.woff") format("woff");
}

@font-face {
  font-family: "NB International Light";
  src: url("./assets/fonts/NBInternationalPro-Lig.woff") format("woff");
}

/********* NAVBAR ********/

.navbar {
  background-color: #e0d9d5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5vw 8vw;
  width: auto;
  height: 70px;
  font-family: "Neue Plak";
  border-bottom: 2px solid #292929;
  color: #292929;
}

#sticky {
  position: fixed;
  width: 85%;
  top: 0;
  z-index: 999;
}

.nav-title {
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
}

#ball-logo {
  display: inline-block;
  vertical-align: top;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  font-size: 1.25rem;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

#button {
  padding: 2px 12px 8px 12px;
  background-color: #ff5722;
  border: 2px solid #000000;
  border-radius: 120px;
  margin-left: 12px;
}

#button:hover {
  text-decoration: none;
  background-color: #e0d9d5;
}

.navbar nav.mobile {
  display: none;
}

.mobile .nav-container {
  position: absolute;
  z-index: 11;
  top: 93px;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 10vw 0;
  box-sizing: border-box;
  background: #e0d9d5;
  text-align: center;
}

.nav-container a {
  font-size: 1.75rem;
  text-decoration: none;
}

.nav-item {
  border-bottom: 2px solid #292929;
  padding: 0.5rem;
  background-color: #e0d9d5;
}

@media (max-width: 1080px) {
  .desktop a {
    font-size: 1.1rem;
    margin-right: 0rem;
    padding: 0.5rem;
  }

  .nav-title {
    font-size: 1.25rem;
    line-height: 40px;
  }

  #ball-logo {
    width: 40px;
  }
}

@media (max-width: 768px) {
  .navbar nav.desktop {
    display: none;
  }

  .navbar nav.mobile {
    display: block;
  }

  .nav-title {
    font-size: 1.5rem;
  }

  #ball-logo {
    width: 40px;
  }

  .nav-item:first-child {
    margin-top: -50px;
  }
}


@media (max-width: 400px) {
  .nav-item:first-child {
    margin-top: -48px;
  }
}

/********* LANDING ********/

.landing {
  width: 100vw;
  overflow-x: hidden;
}

.landing-section {
  background-color: #e0d9d5;
  width: auto;
  height: auto;
  padding: 12rem 8vw 8rem 8vw;
  color: #292929;
  overflow-x: hidden;
}

.top-container {
  font-family: "Inter";
  display: inline-block;
  margin-bottom: 7.5rem;
  vertical-align: top;
}

#arrow {
  margin-right: 1.5rem;
}

.top-text {
  font-size: 1.375rem;
  line-height: 130%;
  width: 28rem;
  text-align: justify;
}

.top-text a {
  color: black;
}

.top-text a:hover {
  transition: all 0.2s ease;
  opacity: 1;
  color: #ff5722;
}

#logo {
  margin-bottom: -1rem;
}

.landing-title {
  font-family: "Neue Plak";
  font-size: 6rem;
}

.text-container {
  font-family: "Inter";
  border: 1px solid #292929;
  border-radius: 70px;
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  display: inline-block;
  padding: 0.25rem 0;
  margin: 1.5rem 0.75rem 0 0;
}

.text-container:first-child {
  width: 16rem;
}

.text-container h3 {
  font-size: 1rem;
}

#shop img {
  width: 32vw;
}

.right {
  float: right;
  vertical-align: center;
}

.mobile-landing {
  display: none;
}

/********* LANDING MEDIA QUERY ********/
@media (max-width: 1200px) {
  .landing-section {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .top-container {
    margin-bottom: 2rem;
  }

  .top-text {
    width: 30rem;
  }

  .text-container,
  .text-container:first-child {
    width: 28rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-container h3 {
    font-size: 1.5rem;
  }

  #top {
    order: 1;
  }

  #shop {
    order: 2;
    margin: 1.5rem auto;
  }

  #shop img {
    width: 50vw;
  }

  #bottom {
    order: 3;
  }

  #logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .landing-section {
    padding-top: 8rem;
    padding-bottom: 4rem;
  }

  .top-text {
    width: 15rem;
    text-align: left;
    font-size: 1rem;
    text-align: justify;
  }

  #arrow {
    margin-right: 1rem;
  }

  #arrow img {
    width: 36px;
  }

  .landing-title {
    font-size: 3rem;
  }

  #shop {
    margin: 1rem auto;
  }

  #shop img {
    width: 80%;
    height: auto;
  }

  /*
  .mobile-landing {
    display: block;
    order: 4;
    width: 10rem;
    border: 1px solid #000000;
    border-radius: 120px;
    margin: 2rem auto 0 auto;
    padding: 1rem;
    background-color: #ff5722;
    transition: all 0.2s ease;
    color: #292929;
  }

  .mobile-landing a {
    font-family: "Neue Plak";
    font-size: 1.25rem;
    line-height: 1.25rem;
    text-decoration: none;
    color: #292929;
    transition: all 0.2s ease;
  }

  .mobile-landing:hover {
    background-color: #292929;
    transition: all 0.2s ease;
  }

  .mobile-landing a:hover {
    color: #ff5722;
    transition: all 0.2s ease;
  }
  */

  .text-container,
  .text-container:first-child {
    width: 20rem;
  }

  .text-container:last-child {
    margin-top: 0.5rem;
  }

  .text-container h3 {
    font-size: 1rem;
  }
}

/********* ABOUT ********/

.about-section {
  width: auto;
  height: auto;
  padding: 6rem 8vw 8rem 8vw;
  background: url(assets/images/about-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-section h1 {
  font-family: "Neue Plak";
  font-size: 4rem;
  color: #e0d9d5;
  background-color: #292929;
  width: fit-content;
}

.about-text {
  font-family: "Inter";
  font-size: 1.5rem;
  width: 65%;
  padding: 1.25rem;
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  margin: 4rem 0 0 auto;
  color: #e0d9d5;
  background-color: #292929;
  line-height: 1.5;
}

#about-section:target {
  padding-top: calc(70px + 6rem);
}

/********* ABOUT MEDIA QUERY ********/

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    background-color: #292929;
    background: url(assets/images/mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about-section h1 {
    font-size: 2rem;
    letter-spacing: 0.05rem;
    margin: 0 auto;
    -webkit-text-stroke: 1px #e0d9d5;
    color: #292929;
  }

  .about-text {
    width: 85%;
    margin: 2rem auto 0 auto;
    font-size: 1rem;
    line-height: 1.75;
    border: 2px solid #e0d9d5;
  }
}

/********* Overview ********/
.overview {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #e0d9d5;
  color: #292929;
  overflow-x: hidden;
}

.overview:target {
  padding-top: 70px;
}

.overview-full {
  display: flex;
  flex-direction: column;
}

.overview-header-text {
  font-size: 4.5rem;
  margin-left: 8vw;
  margin-top: 0;
  margin-bottom: 2vw;
  padding-top: 6vw;
  font-family: "Neue Plak";
}

.overview-arrow {
  display: flex;
  background-image: url("./assets/images/orange-arrow.svg");
  height: 69px;
  min-width: 69px;
  margin-left: 8vw;
  background-size: contain;
  z-index: 20;
  background-repeat: no-repeat;
}

.overview-text {
  font-size: 2rem;
  margin-left: 2rem;
  margin-right: 1vw;
  z-index: 10;
  font-family: "Inter";
}

.overview-container {
  display: flex;
  flex-direction: column;
}

.overview-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1vw 0;
}

.overview-blob {
  display: flex;
  position: relative;
  height: 489px;
  width: 412px;
  background-image: url("./assets/images/blob_border.svg");
  align-self: center;
  margin-top: 11vw;
  margin-right: 8vw;
  background-size: contain;
  background-repeat: no-repeat;
}

.overview-cols {
  display: flex;
  flex-direction: row;
  padding-bottom: 8vw;
}

/********* Overview Media Query ********/
@media (max-width: 1080px) {
  .overview-blob {
    display: none;
  }

  .overview-item {
    margin: 1vw 0;
  }

  .overview-text {
    margin-right: 8vw;
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .overview-blob {
    display: none;
  }

  .overview-arrow {
    height: 50px;
    width: 50px;
  }

  .overview-text {
    font-size: 1.5rem;
  }

  .overview-header-text {
    font-size: 3rem;
    padding-top: 14vw;
    margin-bottom: 4vw;
  }

  .overview-cols {
    padding-bottom: 14vw;
  }

  .overview-item {
    margin: 2vw 0;
  }
}

/********* Cards ********/
.cards {
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: #e0d9d5;
  overflow-x: hidden;
}

.cards:target {
  padding-top: 70px;
}

.cards-item1 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 10rem;
}

.cards-item1-img {
  height: 0;
}

.cards-item2 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 10rem;
}

.cards-item2-img {
  height: 0;
}

.cards-item3 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 10rem;
}

.cards-item3-img {
  height: 0;
}

.cards-item4 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 10rem;
}

.cards-item4-img {
  height: 0;
}

.cards-item5 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 12.8rem;
}

.cards-item5-img {
  height: 0;
}

.cards-item6 {
  border: 3px solid #e0d9d5;
  border-radius: 10px;
  min-height: 10rem;
}

.cards-item6-img {
  height: 0;
}

.cards-head-text {
  font-size: 1.75rem;
  padding-top: 8vw;
  margin: 0vw 8vw 4vw;
  font-family: "Inter";
}

.cards-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.cards-title-text {
  font-size: 1.25rem;
  margin: 1rem 0rem 0rem 1rem;
  font-family: "Neue Plak";
  white-space: nowrap;
}

.cards-title-large-text {
  font-size: 1.25rem;
  margin: 1rem 0rem 0rem 1rem;
  font-family: "Neue Plak";
  white-space: nowrap;
}

.cards-title-really-large-text {
  font-size: 1.25rem;
  margin: 1rem 0rem 0rem 1rem;
  font-family: "Neue Plak";
}

.cards-line {
  height: 3px;
  width: 300px;
  background-image: url("./assets/images/line.svg");
  margin: 1.5rem 1.5rem 0rem;
}

.cards-large-line {
  height: 3px;
  width: 100px;
  background-image: url("./assets/images/line.svg");
  margin: 1.5rem 1.5rem 0rem;
}

.cards-contact {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.cards-contact a {
  text-decoration: none;
}

.contact-first-text {
  position: relative;
  font-size: 0.67rem;
  margin: 0.5rem 0.5rem 0.25rem 0;
  text-decoration: underline;
  font-family: "Inter";
  color: #e0d9d5;
  letter-spacing: 0.02em;
  text-underline-offset: 0.09em;
}

.contact-text {
  position: relative;
  font-size: 0.67rem;
  margin: 0.5rem 0.5rem 0.25rem;
  text-decoration: underline;
  font-family: "Inter";
  color: #e0d9d5;
  letter-spacing: 0.02em;
  text-underline-offset: 0.09em;
}

.top-cards {
  padding: 0 8vw 8vw;
}

.cards-bullets {
  margin: 1rem 0rem 1rem;
}

.bullet-text {
  font-size: 0.8rem;
  margin: 0.5rem 0.75rem 0.5rem 1.9rem;
  font-family: "Inter";
}

.cards-red {
  height: 8vw;
  width: 100%;
  background-image: url("./assets/images/red_rectangle.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/********* Cards Cursors ********/
.item1-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/smoothie.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item2-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/kini.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item3-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/leash.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item4-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/lipstick.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item5-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/scissors.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

.item6-cursor {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 999;
  width: 155px;
  height: 155px;
  opacity: 1 !important;
  background: url("./assets/images/cafex.svg");
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
}

/********* Cards Media Query ********/
@media (max-width: 1200px) {
  .cards-title-really-large-text {
    white-space: normal;
  }
}
@media (max-width: 1080px) {
  .cards-title-large-text {
    white-space: normal;
  }
  .cards-title-really-large-text {
    white-space: normal;
  }
}
@media (max-width: 768px) {
  .cards-head-text {
    padding-top: 12vw;
  }

  .top-cards {
    padding-bottom: 12vw;
  }

  .cards-item5 {
    min-height: 10rem;
  }
}

@media (max-width: 480px) {
  .cursor {
    display: none;
  }

  .item1-cursor {
    display: none;
  }

  .item2-cursor {
    display: none;
  }

  .item3-cursor {
    display: none;
  }

  .item4-cursor {
    display: none;
  }

  .item5-cursor {
    display: none;
  }

  .item6-cursor {
    display: none;
  }


  .cards-head-text {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .cards-item1-img {
    display: flex;
    height: 150px;
    width: 60px;
    background-image: url("./assets/images/cards-imgs/smoothie\ 1.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 65vw;
  }

  .cards-item2-img {
    display: flex;
    height: 76px;
    width: 90px;
    background-image: url("./assets/images/cards-imgs/coffeecup.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 60vw;
  }

  .cards-item3-img {
    display: flex;
    height: 55px;
    width: 90px;
    background-image: url("./assets/images/cards-imgs/dog\ leash\ 1.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 60vw;
  }

  .cards-item4-img {
    display: flex;
    height: 88px;
    width: 22px;
    background-image: url("./assets/images/lipstick.svg");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 70vw;
  }

  .cards-item5-img {
    display: flex;
    height: 80px;
    width: 80px;
    background-image: url("./assets/images/cards-imgs/scissors.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 60vw;
  }

  .cards-item6-img {
    display: flex;
    height: 90px;
    width: 50px;
    background-image: url("./assets/images/cards-imgs/cafex.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 300;
    margin-left: 60vw;
  }
}

/********* Why Apply ********/

#whyapply-section {
  background-color: #292929;
  padding: 7.5rem 8vw 5rem;
  color: #e0d9d5;
  display: flex;
  flex-direction: row;
}

#whyapply-section:target {
  padding-top: calc(70px + 7.5rem);
}

.apply-left-container {
  font-family: "Neue Plak";
  margin-right: 6rem;
}

.apply-left-container h2 {
  font-size: 4rem;
  margin: 0;
  text-align: left;
}

.apply-right-container {
  height: auto;
  font-size: 1.5rem;
}

.apply-item {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-family: "Inter";
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.orange-arrow {
  margin-right: 2.5rem;
  align-self: flex-start;
}

.level-up-showcase-link {
  text-decoration: underline;
  color: #292929;
  transition: all 0.2s ease;
}

.level-up-showcase-link:hover {
  transition: all 0.2s ease;
  opacity: 1;
  color: #ff5722;
}

.apply-here-btn {
  background-color: #ff5722;
  border: 1px solid #292929;
  border-radius: 120px;
  font-family: "Neue Plak";
  font-size: 1.25rem;
  padding: 0.8rem 1rem 1.25rem 1rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: none;
  text-decoration: none;
  color: #292929;
  transition: all 0.2s ease;
  text-align: center;
}

.apply-here-btn:hover {
  background-color: #292929;
  border-radius: 120px;
  font-family: "Neue Plak";
  font-size: 1.25rem;
  width: 10rem;
  margin: 0 auto;
  margin-top: 2.5rem;
  text-decoration: none;
  color: #e0d9d5;
  transition: all 0.2s ease;
}

/**** Why Apply Media Query ***/
@media (max-width: 768px) {
  #whyapply-section {
    flex-direction: column;
    padding-top: 3.5rem;
  }
  .apply-left-container h2 {
    margin-bottom: 2.5rem;
    font-size: 3rem;
  }
  .apply-right-container p {
    font-size: 1.25rem;
  }
  .orange-arrow {
    transform: scale(0.8);
  }
  .apply-here-btn {
    display: inline;
  }
  #whyapply-section:target {
    padding-top: calc(3.5rem + 70px);
  }
}

/********* FAQ ********/

#faq {
  background: #292929;
  padding-top: 4.5rem;
}

#faq:target {
  padding-top: calc(7.5rem + 70px);
}

.faq-title {
  color: #292929;
  -webkit-text-stroke: 3px #e0d9d5;
  font-family: "Neue Plak";
  font-size: 5rem;
  text-align: left;
  padding-left: 8vw;
  padding-right: 8vw;
  padding-bottom: 2.5rem;
  border-bottom: 1.5px solid #e0d9d5;
}

/********* Accordion ********/
.faqs {
  width: 100%;
  text-align: left;
  color: #e0d9d5;
}

.faqs .faq {
  border: 0.5px solid #e0d9d5;
  border-left: 0px;
  border-right: 0px;
  padding: 1.5rem 8vw;
  cursor: pointer;
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 1.5rem;
  padding-right: 80px;
  font-family: "Neue Plak";
  font-size: 1.5rem;

  transition: all 0.2s ease;
}

.faqs .faq .faq-question::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;

  background-image: url("./assets/images/icon-plus.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.2s ease;
  font-family: "Inter";
  font-size: 1.25rem;
  line-height: 1.5;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  transform: translateY(-50%) rotate(135deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}

/**** FAQ Media Query ***/
@media (max-width: 768px) {
  #faq {
    padding-top: 3.5rem;
  }
  .faq-title {
    font-size: 3rem;
    letter-spacing: 0.05rem;
    margin: 0 auto;
    -webkit-text-stroke: 1px #e0d9d5;
    color: #292929;
  }
  .faqs .faq .faq-question {
    font-size: 1.25rem;
  }
  .faqs .faq .faq-answer {
    font-size: 1rem;
  }
  #faq:target {
    padding-top: calc(3.5rem + 70px);
  }
}

/********* Footer ********/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 8vw 2rem 8vw;
  font-family: "Inter";
}

.footer-left {
  display: flex;
  flex-direction: row;
}

.footer-left-span {
  display: flex;
  flex-direction: row;
}

.footer-left-span p {
  width: 100%;
}

.footer-logo-heart {
  transform: scale(0.8);
  margin-left: 0.5rem;
}

.footer-logo-dco {
  transform: scale(0.7);
  margin-left: -1.2rem;
}

.footer-text {
  text-decoration: none;
  color: #292929;
  transition: all 0.2s ease;
}

.footer-text:hover {
  text-decoration: underline;
  color: #ff5722;
  transition: all 0.2s ease;
}

@media (max-width: 565px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer-text {
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .footer-logo-dco {
    transform: scale(0.6);
    margin-left: -2.2rem;
  }
  .footer-text {
    margin-top: 0.8rem;
  }
}


/********* Animation ********/
.tape1 {
  display: flex;
  align-items: center;
  height: 12rem;
  width: 130vw;
  background-color: #FF5722;
  transform: rotate(24deg) translateY(-8vh);
  position: absolute;
  border: #292929 2px solid;
  white-space: nowrap;
  overflow-x: hidden;
}

.tape2 {
  display: flex;
  align-items: center;
  height: 12rem;
  width: 140vw;
  background-color: #FF5722;
  transform: rotate(-24deg) translateX(-30vw);
  position: absolute;
  border: #292929 2px solid;
  white-space: nowrap;
  overflow-x: hidden;
}

.tape-text {
  position: absolute;
  font-size: 6rem;
  color: #292929;
  font-family: "Neue Plak";
  transform: translateX(-60vw) translateY(-2vh);
}

.newcard {
  color: #292929;
  height: 32rem;
  min-width: 24rem;
  filter: grayscale(100%);
  transition: 0.5s;
  overflow: hidden;
  margin-bottom: 2rem;
  cursor: pointer;
}

.newcard2 {
  color: #292929;
  background-color: #e0d9d5;
  height: 32rem;
  width: 24rem;
  transition: 0.5s;
  overflow: hidden;
}

.newcard:hover {
  filter: none;
  color: #e0d9d5;
}

.newcard-img1 {
  height: 24rem;
  min-width: 24rem;
  background-image: url("./assets/images/blendees.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  border: #292929 solid 2px;
}

.newcard-img2 {
  height: 24rem;
  min-width: 24rem;
  background-image: url("./assets/images/cafex.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  border: #292929 solid 2px;
}

.newcard-img3 {
  height: 24rem;
  min-width: 24rem;
  background-image: url("./assets/images/cutanddry.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  border: #292929 solid 2px;
}

.newcard-img4 {
  height: 24rem;
  min-width: 24rem;
  background-image: url("./assets/images/furlicious.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  border: #292929 solid 2px;
}

.newcard-img5 {
  height: 24rem;
  min-width: 24rem;
  background-image: url("./assets/images/kini.png");
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  border: #292929 solid 2px;
}

.newcard-body {
  width: 24rem;
}

.newcard-info {
  margin: 1rem 1vw;
}
.newcard-box-info {
  margin: 0 1vw;
}

.newcard-header-text {
  font-size: 1.25rem;
  font-family: "Neue Plak";
  margin-bottom: 1rem;
}

.newcard-name-text {
  font-size: 0.85rem;
  font-family: "Inter";
  margin-bottom: 1rem;
  line-height: 1.25rem;
}

.newcard-body-text {
  font-size: 0.7rem;
  font-family: "Inter";
  line-height: 1.5rem;
  text-align: justify;
  color: #e0d9d5;
  margin-bottom: 1rem;
}

.newcard-view-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.newcard-view-text {
  font-size: 0.7rem;
  font-family: "Inter";
}

.newcard-rightarrow {
  background-image: url("./assets//images/rightarrow.svg");
  padding: 1rem;
  background-size: contain;
  margin-left: 0.5rem;
}

.newcard-box {
  display: none;
  background-color: #292929;
  height: 17rem;
  width: 24.3rem;
  padding-top: 1.25rem;
}

#showcase-section:target {
  padding-top: calc(70px + 6rem);
}

.showcase {
  padding: 6rem 0;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  margin: 0 8vw;
}

.showcase-large {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showcase-large2 {
  display: flex;
  flex-direction: row;
}

.showcase-medium {
  display: none;
}

.showcase-container-cards {
  display: flex;
  justify-content: center;
  width: 84vw;
}

.showcase-cards {
  display: flex;
  justify-items: center;
}

.showcase-header-text {
  color: #292929;
  font-size: 4.5rem;
  font-family: "Neue Plak";
  margin: 0 8vw 4rem;
}

.red-button {
  display: flex;
  background-color: #ff5722;
  width: 15rem;
  height: 3rem;
  border-radius: 30px;
  border: #292929 solid 2px;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 4rem;
}

.red-button-text {
  color: #292929;
  font-size: 1rem;
  font-family: "NB International Mono";
  text-transform: uppercase;
}

@media (max-width: 1450px) {
  .showcase-large {
    display: none;
    overflow: hidden;
    height: 0;
    width: 0;
  }
  .showcase-medium {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .tape1 {
    height: 8rem;
  }
  .tape2 {
    height: 8rem;
  }
  .tape-text {
    font-size: 4rem;
  }
}

@media (max-width: 1000px) {
  .showcase-medium {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .showcase {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
  }
 
  .showcase-header-text {
    align-self: center;
  }
  .showcase-header-text {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  .newcard2 {
    display: none;
  }
  .red-button {
    margin: 1rem 0 2rem;
  }
  .tape1 {
    height: 6rem;
    transform: rotate(24deg) translateX(-15vw);
  }
  .tape2 {
    height: 6rem;
    transform: rotate(-24deg) translateX(-30vw);
  }
  .tape-text {
    font-size: 3rem;
    transform: translateX(-100vw) translateY(-1vh);
  }
}
/********* Modal ********/
.team-modal {
  position: fixed;
  background: #292929;
  color: white;
  top: calc(70px + 3vw);
  left: 0;
  right: 0;
  overflow: auto;
  height: calc(100% - 70px - 3vw);
  z-index: 100;
}

.inner-modal {
  margin: 2rem 8vw 0 8vw;
  color: #E0D9D5;
}

#modal-exit {
  text-align: right;
}

.modal-top {
  margin-bottom: 1.5rem;
}

.modal-top img {
  cursor: pointer;
}

.inner-modal h1 {
  font-family: "Neue Plak";
  font-size: 3rem;
  margin-top: 1rem;
  line-height: 120%;
}

.inner-modal p {
  font-family: "Inter";
  line-height: 250%;
  font-size: 0.8rem;
}

.modal-info p {
  width: 34vw;
}

.inner-modal ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 1.25rem 0;
}

.inner-modal li {
  margin-right: 1.25rem;
}

.inner-modal a {
  font-family: "Inter";
  font-size: 0.8rem;
  color: #E0D9D5;
}

#case-study {
  color: #292929;
  background-color: #ff5722;
  height: 3rem;
  border-radius: 120px;
  width: 13rem;
  text-align: center;
  line-height: 3rem;
  margin-top: 2.5rem;
}

#case-study h3 {
  font-family: "NB International Mono";
  font-size: 0.9rem;
}

#case-button {
  text-decoration: none;
}

#case-study:hover {
  background-color: #e0d9d5;
}

.carousel img {
  pointer-events: auto!important;
  cursor: pointer;
}

img.team-img {
  display: inline-block;
  width: 34vw !important;
  padding-bottom: 40px;
}

.carousel .control-dots  {
  right: -12vw!important;
  width: 34vw!important;
}

.carousel .control-dots .dot {
  background: #ff5722!important;
}

.inner-modal h2 {
  font-family: "Neue Plak";
  font-size: 1.5rem;
  margin: 0 auto 2rem auto;
}

.inner-modal h3 {
  font-family: "Neue Plak";
  font-size: 1rem;
  margin: 1rem 0 0.8rem 0;
}

.inner-person p {
  line-height: 160%;
}

.mentors {
  margin-bottom: 3.5rem;
}

.line {
  background-color: #515151;
  height: 2px;
  width: 100%;
  margin: 2rem 0;
}

.member-img {
  width: 12vw;
}

.inner-modal a:hover {
  text-decoration: none;
}

.margin {
  margin: 8vw;
}

#modal-red {
  margin-left: -12vw;
  margin-right: -12vw;
  width: calc(100% + 20vw);
  height: 8vw;
}

.mobile-modal {
  display: none;
}

@media (max-width: 768px) {
  .mobile-modal {
    display: flex;
  }

  .modal-info p {
    width: 76vw;
  }

  .desktop-modal {
    display: none;
  }

  #modal-exit img {
    width: 25px;
    height: 25px;
  }

  .inner-modal h1 {
    font-size: 2rem;
    margin-top: 0;
  }

  img.mobile-modal {
    width: 18vw;
    height: 4rem;
  } 

  img.team-img {
    width: 76vw!important;
  }

  .carousel .control-dots  {
    right: -32vw!important;
    width: 76vw!important;
  }

  #case-study {
    margin: 2rem 0;
    width: 76vw;
  }

  .member-img {
    width: 36vw;
  }

  .team, .mentors {
    column-gap: 0;
  }

  .inner-person p {
    margin-bottom: 1.25rem;
  }

  .team, .mentors {
    justify-content: left!important;
  }
}
